.info{
    color: rgba(255, 255,255, 0.5);
    font-size: 11px;
    padding: 10px;
    text-align: center;
  }
  .bottom-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-container{
    position: relative;
    width: 85%;
    margin: auto;
  }
  textarea{
    height: 24px;
    max-height: 200px;
    resize: none;
    width: 100%;
    border: none;
    font-size: 20px;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
  
  }
  textarea:focus{
    outline: none;
  }
  
  #submit{
    position: absolute;
    bottom: 15px;
    right: 0;
    cursor: pointer;
  }