.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 86%;
    overflow: scroll;
  }
 
  .feed{
    /* overflow: scroll ; */
    width: 100%;
    padding:0;
  }
  .row {
    display: flex;
    padding: 20px;
    margin: 20px 10px 20px 0px;
  }
  .row:nth-child(2n){
    background-color: #444654;
  }
  
  .feed p{
    color: rgba(255, 255, 255,0.8);
    font-size: 14px;
    text-align: left;
  
  }
  
  .feed p.role{
    min-width: 100px;
  }