.side-bar{
    background-color: #202123;
    height: 100vh;
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .top-side svg{
    width: 46px;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 12px 0px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .newChatBtn{
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    cursor: pointer;
  }
  
  .leftNav{
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
  
  }
  .history{
    padding: 10px;
    height: 100%;
    flex-direction: column;
  }
  .history li{
    list-style-type: none;
    padding: 15px 0;
    cursor: pointor;
  }
  .history-title{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .chatHistory{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    cursor: pointer;
  }
  .chatHistory svg{
    margin-right: 10px;
    width: 20px;
  }

  .chatHistory:hover{
    background-color: rgba(52,53,65,var(--tw-bg-opacity));
    --tw-bg-opacity:1;
    border-radius: 5px;
  }

